body {
  margin: 0;
}

.navContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 1px 5px gray;
  align-items: center;
}
.navContainer h2{
  width: 80%;
}
.navContainer i{
  color: rgb(182, 182, 182);

}